
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100vh;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color:#1b1b1b;  
}

a {
  color: #ffff;
  text-transform: uppercase;
  font-size: 2rem;
  background-color: #F2BD02;
  padding: 20px;
  border:  solid 1px #F2BD02;
  border-radius: 8px;

}
